VITE_SUPABASE_URL=https://kvrkvxsicoqfkszjmxhd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2cmt2eHNpY29xZmtzempteGhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1Mzk4NzAsImV4cCI6MjEwNTExNTg3MH0.84UahlH95O4l-KjnmLGsMYUEm0sCxhdcQaCisi_JbDo
